@import url('https://fonts.cdnfonts.com/css/satoshi');
@import url('https://fonts.cdnfonts.com/css/clash-display');

:root {
  --satoshi: 'Satoshi', sans-serif;
  --clash: 'Clash Display', sans-serif;

  --gray: #726E8D;
  --lightGray: #5b5676;
  --black: #2A254B;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--satoshi);
  font-size: 16px;
  color: #22202E;
  //font-family: var(--clash);
}

img {
  max-width: 100%;
}

.container {
  max-width: 1440px;
  margin: auto;
}